<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Headlines on the go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label style="color:goldenrod;font-weight:bold;">Show alert</ion-label>
        <ion-toggle color="dark" [(ngModel)]="showAlert"></ion-toggle>
    </ion-item>
    <ion-list-header color="danger" text-wrap *ngIf="showAlert" >
        <ion-label>{{alertMsg}}</ion-label>
    </ion-list-header>

    <div>
        <ion-slides autoplay="5000" loop="true" speed="3000" *ngIf="slides.length">
            
            <ion-slide *ngFor="let slide of slides" (tap)="slideTapped(slide)">
                {{slide.headline}}
                <img src={{slide.picture}} />
            </ion-slide>
        </ion-slides>
    </div>
    <ion-list text-wrap *ngIf="stories.length">
        <ion-item *ngFor="let story of stories" (tap)="storyTapped(story)">
            <label *ngIf="story.isTopStory"><strong>Top Story</strong></label>
            <p>{{story.dateCreated}}</p>
            <h2>{{story.title}}</h2>
            <p>{{story.summary}}</p>
        </ion-item>
        
    </ion-list>


    <!-- video attempt-->

    <ion-list text-wrap *ngIf="videos.length">
        <ion-item-divider>
            Videos
        </ion-item-divider>
        <ion-item *ngFor="let video of videos">
             {{video.title}}
            <video width="320" height="240" src={{video.source}} controls>
                <p>Your browser doesn't support HTML5 video.</p>
            </video>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-navbar color="primary">
        
        <ion-title>Hackathon 2017</ion-title>
    </ion-navbar>
</ion-footer>
