page-photo-upload-base  {
    .fab[large] {
      margin: auto;
      margin-bottom: 10px;
      width: 45px;
      height: 45px;
      line-height: 10px;
    }

    .tags {
      margin-right: 10px;
    }

    .card-small-centered {
      width: 60%;
      margin: auto;
    }

    .photo-small-center {
      width: 100%;
      margin: auto;
    }


}
